name: Commitlint

on:
  pull_request:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install commitlint
        run: npm install -g @commitlint/config-conventional @commitlint/cli
      - name: Lint commits
        run: commitlint --from=origin/main --to=HEAD --verbose
